{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Inscription Réussie{% endblock %}

{% block fos_user_action %}Inscription{% endblock %}

{% block fos_user_content %}

<div id="blog-post" class="panel panel-default blog-post">
    <div class="panel-body">
	    {{ 'inscription réussie'|trans({'%username%': user.username}) }}
 	</div>
</div>

{% endblock fos_user_content %}
