{# src/FlorianMasip/BlogBundle/Resources/views/Crud/edit.html.twig #}

{% extends '::base.html.twig' %}

{% block title %} Edition {% endblock %}

{% block content %}

<div id="blog-content">

	{% if id is defined %}
        <h4 class="page-title">modifier article : {{ id }}</h4>
        <form id="edit-form" method="post" target="" >
    {% else %}
        <h4 class="page-title">Nouvel article</h4>
        <form id="edit-form" method="post" target="" >
    {% endif %}
	
		<div id="blog-post" class="panel panel-default blog-post">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-2">
						<select class="form-control">
							<option>News</option>
							<option>Test</option>
							<option>Article</option>
						</select>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Titre" id="titre" name="titre"/>
					</div>
				</div>
			</div>
			<div class="panel-body">
			    <textarea class="form-control" placeholder="Article..." id="post" name="post"></textarea>     
			</div>
			<br/>
			<button class="btn btn-primary wide">valider</button>
		</div><!--/panel-body-->
	</form>
</div>
{% endblock %}
