{# src/FlorianMasip/BlogBundle/Resources/views/Crud/edit.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Edition</title>
    </head>
    <body>
    	{% include "BlogBundle:Default:header.html.twig" %}

    	{% if id is defined %}
        	modifier id : {{ id }}
        {% else %}
        	Nouvel article
        {% endif %}

        {% include "BlogBundle:Default:footer.html.twig" %}
    </body>
</html>
