{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_action %}
	Profil 
	<a class="btn btn-warning pull-right" href="{{ path('fos_user_profile_edit') }}">Editer profil <i class="glyphicon glyphicon-edit"></i></a>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
