{% extends '::base.html.twig' %}

{% block content %}

<div id="blog-content">
    <h1 class="page-title">
        {% block fos_user_action %}
        {% endblock fos_user_action %}
    </h1>

    {% block fos_user_content %}

    {% endblock fos_user_content %}

    </div>
</div>

{% endblock content %}
