{% extends '::base.html.twig' %}

{% block content %}

<div id="blog-content">
    <h4 class="page-title">
        {% block fos_user_action %}
        {% endblock fos_user_action %}
    </h4>

    {% block fos_user_content %}

    {% endblock fos_user_content %}

    </div>
</div>
    
{% endblock content %}