{# src/FlorianMasip/BlogBundle/Resources/views/Blog/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
		{% include "BlogBundle:Default:header.html.twig" %}

        blog : {{ id }}

        {% include "BlogBundle:Default:footer.html.twig" %}
    </body>
</html>
