{# src/FlorianMasip/BlogBundle/Resources/views/Blog/post.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>post - {{ id }} </title>
    </head>
    <body>
    	{% include "BlogBundle:Default:header.html.twig" %}

        Post : {{ id }}
        
        {% include "BlogBundle:Default:footer.html.twig" %}
    </body>
</html>
