    	
{# src/FlorianMasip/BlogBundle/Resources/views/Blog/post.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>post - {{ id }} </title>
    </head>
    <body>
    
        Post : {{ id }}
    </body>
</html>
