{# src/FlorianMasip/BlogBundle/Resources/views/Blog/register.html.twig #}

{% extends '::base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block content %}
<div id="blog-content">
	<h4 class="page-title">Inscription</h4>

	<form id="edit-form" method="post" target="" >
		<div id="blog-post" class="panel panel-default blog-post">
			<div class="panel-body">
			    <select id="theme" class="form-control">
			    	<option value="default"> Thème </option>
				    <option value="technologie">Technologie</option>
					<option value="jeux video">Jeux video</option>
					<option value="sciences">Sciences</option>
					<option value="musique">Musique</option>
				</select>
				<input type="text" class="form-control" placeholder="nom du blog" id="name" name="name"/>
				<input type="test" class="form-control" placeholder="login" id="register_login" name="register_loginlogin"/>
				<input type="mail" class="form-control" placeholder="mail" id="mail" name="mail"/>
				<input type="password" class="form-control" placeholder="mot de passe" id="register_password" name="register_password"/>
				<textarea class="form-control" placeholder="description du blog" id="description" name="description"></textarea>
			</div>
			<br/>
				<button class="btn btn-primary wide">valider <i class="glyphicon glyphicon-ok"></i></button>
		</div><!--/panel-body-->
	</form>
	
</div>
{% endblock %}



