{# src/FlorianMasip/BlogBundle/Resources/views/Blog/new_blog.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>new blog</title>
    </head>
    <body>
		{% include "BlogBundle:Default:header.html.twig" %}

        register form

        {% include "BlogBundle:Default:footer.html.twig" %}
    </body>
</html>
