<div id="liste-category">
        {# Liste des catégories #}
    <h3>Cours : </h3>
    <ul>
        {% for category in liste_category %}
            <li><a href="{{ path('blog_view_by_category', {'url_blog': url_blog, 'category': category.getNom}) }}" title="voir la catégory : {{category.getNom}}">{{category.getNom}}</a></li>
        {% endfor %}
    </ul>
</div>
