<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' '@BlogBundle/resources/public/css/*' %}
              <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div id="global-container" class="row ">
            <div id="left-panel" class="col-sm-1">
                {% block header %}
                    {% include "BlogBundle:Default:header.html.twig" %}
                {% endblock %}
            </div>

            <div id="page-content" class="col-sm-11">
                <div id="container">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            {% if type == "error" %}
                            <div class="label label-danger wide message">
                            {% else %}
                            <div class="label label-success wide message">
                            {% endif %}
                                <i class="glyphicon glyphicon-exclamation-sign pull-left"></i>
                                {{ message }}
                                <a class="glyphicon glyphicon-remove pull-right " href="#" onclick="$(this).parent().remove()" > </a>
                            </div>

                        {% endfor %}
                    {% endfor %}
                {% endif %}


                {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% block footer %}

        {% endblock %}

        {% block javascripts %}
            {% javascripts
            '@BlogBundle/resources/public/js/jquery-2.1.1.min.js'
            '@BlogBundle/resources/public/js/scripts.js'
            '@BlogBundle/resources/public/js/jquery.elastic.source.js'
            '@BlogBundle/resources/public/js/*'
            %}
              <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
