<footer>
	<div id="footer-panel" class="panel panel-default ">
		<div class="panel-heading">
		  	<span class="pull-left" > kikoo blog </span>
		  	<a class="pull-right" href="#">déconnexion</a>
		  	<a class="pull-right" href="#"> connexion</a>
		  	<a class="pull-right" href="{{ path('blog_homepage') }}" > accueil</a>
		  	<br/>
		</div>
	</div><!--/panel-body-->
</footer>